@page
@model PremierLeagueWeb.Pages.PlayerModel
@{
}
<style>
    .player-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .player-image img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 8px;
    }

    .player-details {
        max-width: 600px;
    }

        .player-details h2 {
            color: #333;
        }

        .player-details p {
            margin-bottom: 8px;
        }
</style>

<h1>Thông tin cầu thủ</h1>

<div class="player-container">
    <div class="player-image">
        <img src="@Model.Player.Image" alt="Player Image" />
    </div>
    <div class="player-details">
        <h2 style="color:red;">@Model.Player.PlayerName</h2>
        <p><li>Ngày sinh: @Model.Player.Dob</li> </p>
        <p><li>Quốc tịch: @Model.Player.Nationality</li></p>
        <p><li>Vị trí: @Model.Player.PlayerLocationName</li></p>
        <p><li>Số áo: @Model.Player.Number</li></p>
        <p><li>Mô tả: @Model.Player.Description</li></p>
    </div>
</div>